.page-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__top-wrapper {
        text-align: center;
        padding: 15px;
        border-radius: 8px;
        background-color: #fff;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 578px;
        height: 600px;
        padding: 60px;
        box-sizing: border-box;
        border: 1px solid #fff;
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        border-radius: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        background-color: #fff;
    }

    &__inputs {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .MuiOutlinedInput-root {
            border-radius: 10px;
        }
    }

    &__Button {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
}
