.autosalonsPage {
    font-family: "Jost", sans-serif;
    .outer-wrap {
        margin-top: 70px;
    }
    &__image {
        padding-top: 20px;
        a {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        img {
            max-width: 200px;
        }
    }
    .vs-pagination {
        button {
            background: none !important;
            border: none !important;
        }
    }
    &__phone {
        margin-right: 20px;
        position: relative;
        color: #000;
        text-decoration: none;
        transition: all ease 0.4s;
        &:hover {
            color: #ff681a;
        }
        i {
            transform: scale(-1, 1);
        }
    }
    &__btn {
        text-decoration: none;
    }
    
}
.autosalonPage {
    &__image {
        img {
            width: 100%;
        }
    }
    
}
